body{
    background-color: black;
    color: white;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;
    font-family: "Inter", sans-serif;
}
.text-primary{
    background-color: red;
    border-radius: 20px;
    padding: 10px 20px;
    width: 150px;
    color: white;
    border: 1px solid rgb(255, 255, 255);

}
.helthay h1{
    font-family: "Rubik", sans-serif;
    font-size: 55px;

}
.fitness{
    color: red;
    /* padding-left: 60px; */
}
.font{
    font-family: 'miama' ,sans-serif;
    font-size: 100px;
}
.header{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    
}
.svg-icon{
    display: none;
}
ul>li{
    list-style: none;
   
    align-items: center;
    
}
.nav-menu{
    display: flex;
    gap: 30px;
     border: 1px solid #FFFFFF1A;
     border-radius: 50px;
     justify-content: space-between;
     align-items: center;
     padding: 0 10px 0 0;
}
.text-button{
    background-color:black;
    border-radius: 20px;
    padding: 10px 20px;
    width: 150px;
    color: white;
    border: 1px solid white;

}
@media screen and (max-width:576px){
    .header{
        /* flex-direction: column; */
        text-align: center;
        display: flex;
        
    }
    .nav-menu{
        flex-direction: column;
        display:none;
    }
    .svg-icon{
        display: block;

    }
}
.first-card{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255,0.082);
    padding: 1rem;
    font-size: 40px;
    font-weight: 900;
    backface-visibility: blur(20px);
    position: absolute;
    left:200px;
    bottom: 400px;
    
}
.second-card{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255,0.082);
    padding: 1rem;
    font-size: 40px;
    font-weight: 900;
    backface-visibility: blur(20px);
    position: absolute;
    padding-left:20px ;
    left:-50%;
    bottom: 50px;
    
} 
.second-card span{
    height: 40px;
    width: 40px;
    background-color: rgb(221, 42, 42);
    border-radius: 50%;
    display: block;
}
.first-card span{
    height: 40px;
    width: 40px;
    background-color: rgb(221, 42, 42);
    border-radius:50%;
    display: block;
}
.banner{
    display: flex;
    gap: 100px;
    align-items: center;
    font-weight: 400;
    font-style: normal;
}
.man{
    position: relative;

}
@media screen and (max-width:576px){
    .banner{
        flex-direction: column;
    }
}
.chang-habits{
    text-align: center;
}
.img-show{
    display: flex;
    border-radius: 20px;
    padding: 20px;
    padding: 100px;
    gap: 10px;
    padding-right: 40px; 
    margin-top: 10px;
    padding-left: 25px;
}
.triner{
    border-radius: 100px;
    
}
@media screen and (max-width:576px){
    .chang-habits{
        flex-direction:column ;
    }
    .img-show{
        display: grid;
        grid-template-columns: repeat(1,1,1fr);
    }
}
.box-2 img{
    height: 250px;
    border-radius: 30px;
    
}
.box-1 h1{
    font-family:  "Rubik", sans-serif;
    font-size: 40px;

}
.box{
    display: flex;
    align-items: center;
    gap: 100px;
    padding: 50px;
    background-color: rgb(95, 90, 90);
    border-radius: 20px;
    
}
.button{
    background-color: red;
    border-radius: 20px;
    padding: 10px 20px;
    color: white;
    border: 1px solid rgb(255, 255, 255);
    width: 150px;
}
@media screen and (max-width:576px){
    .box, box-1, b0x-2{
        flex-direction: column;
    }
    .box-2 img{
        border-radius: 30px;
        
    }
}
.calculator{
    text-align: center;
    font-size: large;
    
}
.box-3{
    tabile{
        border-collapse:collapse ;
        font-size: 18px;
        text-align: left;
    }
    th,td{
        padding: 3px 10px;
        border: 1px solid white;
    }
    
}
.chart{
    background-color: rgb(56, 47, 47);
    display: flex;
}
.box-5{
    gap: 10px;
    padding-left: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    
}
.box-5 input{
    padding: 7px;
    border-radius: 7px;
    background-color:     rgb(83, 79, 79);
}
.gender{
    width: 183px;
    padding: 7px;
    background-color: rgb(83, 79, 79);
    border-radius: 5px;
}
.activity{
    width: 203px;
    display: block;
    padding: 7px;
    background-color: rgb(83, 79, 79) ;
    border-radius: 5px;
}